header {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-image: url(test.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    color: antiquewhite;
    margin: 0;
    padding: 0;
}

div.navigation {
    margin: 0;
    padding: 0;
    background-color: #323639;
    opacity: 0.85;
}

ul.topnavbar {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0;
}

    ul.topnavbar li {
        float: right;
    }

        ul.topnavbar li.left {
            float: left;
        }

        ul.topnavbar li a {
            display: block;
            height: 100%;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.topnavbar li a:hover:not(.active):not(.logout):not(.nexus) {
                background-color: #111;
                color: #04aad0;
                height: 100%;
                opacity: 0.85;
            }


            ul.topnavbar li a.active {
                background-color: #111;
                opacity: 0.85;
            }


            ul.topnavbar li a.logout {
                background-color: #04aad0;
                opacity: 0.85;
            }


            ul.topnavbar li a.nexus {
                opacity: 0.85;
                font-size: 16px;
                margin-left: 0;
            }

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #2b2b2b;
    opacity: 0.85;
}

    .box input[type = "text"], .box input[type = "password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid #616161;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        border-radius: 24px;
        color:antiquewhite
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus {
            width: 200px;
            border-color: #04aad0;
            color: antiquewhite
        }

    .box input[type="submit"] {
        border: none;
        padding: 14px 40px;
        outline: none;
        background: none;
        color: antiquewhite;
        border-radius: 24px;
        font-size: 15px;
        background: #616161;
    }

        .box input[type="submit"]:hover {
            background: #04aad0;
        }
