html {
  overflow-y: scroll;
}

header {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    font-family: sans-serif;
    background-image: url(/resources/pictures/test.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;
    color: black;
    margin: 0;
    padding: 0;
}

div.navigation {
    margin: 0;
    padding: 0;
    background-color: #323639;
    opacity: 0.85;
    height: 48px;
}

ul.topnavbar {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
    height: 100%;
    margin-bottom: 0;
    height: 48px;
}

    ul.topnavbar li {
        float: right;
    }

        ul.topnavbar li.left {
            float: left;
        }

        ul.topnavbar li a {
            display: block;
            height: 100%;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 16px;
            margin: 0;
            height: 48px
        }

            ul.topnavbar li a:hover:not(.active):not(.logout):not(.nexus) {
                background-color: #111;
                color: #04aad0;
                height: 100%;
                opacity: 0.85;
            }


            ul.topnavbar li a.active {
                background-color: #111;
                opacity: 0.85;
            }


            ul.topnavbar li a.logout {
                background-color: #04aad0;
                opacity: 0.85;
            }


            ul.topnavbar li a.nexus {
                opacity: 0.85;
                font-size: 16px;
                margin-left: 0;
            }

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 75%;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #2b2b2b;
    opacity: 0.85;
}

    .box input[type = "text"], .box input[type = "password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid #616161;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        border-radius: 24px;
        color: white;
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus {
            width: 200px;
            border-color: #04aad0;
            color: white;
        }

    .box input[type="submit"] {
        border: none;
        padding: 14px 40px;
        outline: none;
        background: none;
        color: white;
        border-radius: 24px;
        font-size: 15px;
        background: #616161;
    }

        .box input[type="submit"]:hover {
            background: #04aad0;
        }
        
    /* Classes View  */
    
/* Accordion menu panel */
.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active.accordion:hover {
  background-color: #ccc;
}


.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  color: black;
}

accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

fieldset.container {
	width: 90%; margin-top: 20px; background-color: white;
}
.submissionButtons {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #04abd0), color-stop(1, #0493b3));
	background:-moz-linear-gradient(top, #04abd0 5%, #0493b3 100%);
	background:-webkit-linear-gradient(top, #04abd0 5%, #0493b3 100%);
	background:-o-linear-gradient(top, #04abd0 5%, #0493b3 100%);
	background:-ms-linear-gradient(top, #04abd0 5%, #0493b3 100%);
	background:linear-gradient(to bottom, #04abd0 5%, #0493b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#04abd0', endColorstr='#0493b3',GradientType=0);
	background-color:#04abd0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #004f61;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #45707a;
}
.submissionButtons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0493b3), color-stop(1, #04abd0));
	background:-moz-linear-gradient(top, #0493b3 5%, #04abd0 100%);
	background:-webkit-linear-gradient(top, #0493b3 5%, #04abd0 100%);
	background:-o-linear-gradient(top, #0493b3 5%, #04abd0 100%);
	background:-ms-linear-gradient(top, #0493b3 5%, #04abd0 100%);
	background:linear-gradient(to bottom, #0493b3 5%, #04abd0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0493b3', endColorstr='#04abd0',GradientType=0);
	background-color:#0493b3;
}
.submissionButtons:active {
	position:relative;
	top:1px;
}
